<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body style="background:url(https://media.cntraveler.com/photos/598c85ed22f21b5b9ee315e8/master/pass/Psych_cheap_flights_GettyImages-126346908.jpg); height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; ">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
