{% extends "layout.html" %}

{% block title %}
    Airlines
{% endblock %}

{% block body %}

<h2 style="text-align:left">Book Flight</h2>

    <form action="{{ url_for('book') }}" method="post">

        <div class="form-group">
            <select class="form-control" name="flight_id">
                {% for flight in flights %}
                    <option style="text-align:center" value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" style="text-align:center" name="name" placeholder="Passenger Name">
        </div>

        <div class="form-group">
            <input type="date" style="text-align:center" name="date" required>
        </div>

        <div class="form-group">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ pub_key }}"
            data-amount="19900"
            data-name="Demo Site"
            data-description="Ticket charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </div>

    </form>

{% endblock %}
